  <div id="contenido_total">
    <div>
      <nav id="nav" role="navigation">
	          <ul class="menu">
              <li><a href="https://github.com/ULL-ESIT-GRADOII-DSI/ajax-ecma6-ficheros-alex-javi-moi.git" title="Repositorio Github" >Repositorio Github</a></li>
              <li><a href="#" title="Páginas">Páginas Personales</a>
                  <ul id="paginas">
                      <li><a href="http://alu0100767421.github.io">Alexander</a></li>
                      <li><a href="http://alu0100505009.github.io">Javier</a></li>
                      <li><a href="http://alu0100782851.github.io">Moisés</a></li>
                  </ul>
              </li>
              <li><a href="https://campusvirtual.ull.es/1516/mod/page/view.php?id=189370" title="Descripcion">Descripción de la Práctica</a></li>
            </ul>
      </nav>
    </div>
    
    
    
    
    <div id="titulo_practica">
      <h1>Comma Separated Values Analizador con AJAX</h1>
    </div>
    
    <div id="izquierda">
      <p>Opciones:<br></p>
      <p>Escribir en el recuadro su entrada CSV<br></p>
      <p>Arrastrar al recuadro su fichero CSV<br></p>
      <p>Cargue los ejemplos</p>
    </div>
    
    <div id="derecha">
      
    </div>
    
    <div class="contenido">
      <table class="center" id="input">
        
        <tr>
          <th>
            <textarea class = "drop_zone" autofocus="" cols = "80" rows = "5" id="original"></textarea>
          </th>
        </tr>
        <tr>
          <th>
            <button type="button" id="parse"> Analizar</button>
            <button class="guardar" type="button">Guardar</button>
            <input id="guardado" placeholder="nombre para guardado"/>
          </th>
          
            
        
        </tr>
        
       
        <tr>
          <th>
            <div id="ejemplos" class="example">
              Ejemplos:
              <button class ="example" type="button">input</button>
              <button class ="example" type="button">input2</button>
              <button class ="example" type="button">input3</button>
              <button class ="example" type="button" id="boton" style="display:none"></button>
            </div>
          </th>
        </tr>
      
        
        
        <tr>
          <th>
              Cargar archivo: 
              <input type="file" class="inputfile" />
          </th>
        </tr>
      </table>

      <div class="output" id="finaltable">
        
      </div>
    </div>
    
    
    
  </div>
