*{
    margin: 0;
    padding: 0;
}

//este es el cuerpo
body {
  height: 100%;
  background:{
     color: #93CE95; 
  }
  font: {
    family: sans-serif;
    size: 100;
  }
}


nav{
  height: 7.5%;
  ul {
      list-style: none;
      background-color: #303030;
  }
  >ul{
     position: relative;
        display: table;
        width: 100%;
  }
  
  >ul li{
    display: table-cell; 
  }
 
  > ul > li:hover > ul{       
        display: block;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        
  }
  ul li ul{                   
        display: block;
        position: absolute;
        background: #303030;    
        width: auto;
    
  }
  ul li #paginas li {          
        width: auto;
  }
   ul li #repos li {            
        width: auto;
  }

  > ul > li > ul{             
        display: none; 
  }


  > ul li a{                  
        color: white;
        display: block;
        line-height: 25px;
        padding: 12.5px;
        position: relative;
        text-align: center;
        text-decoration: none;
  }

   ul li a:hover{
        background: white;      
        color: #303030;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
  }
  
}



.nav{
  position: static;
}



#contenido_total{
    height:70%;
    background-color:#93CE95;
    #titulo_practica{
        margin-top:5%;
        //background-color: red;
        text-align: center;
        color: #555755;
    }
    
    width: 100%;
    #izquierda{

      float:left;
      //background-color:#4E9451;
      width:50%;
      text-align:center;
      margin-top:8%;
      color:black;
      font:{
        size:20px;
      }
    }
    
    #derecha{
      float:left;
      width:50%;
      background-color:blue;
    }
    
    
      table.center {
    	font-weight: bold;
    	color: black;
    	text-align: none;
    
    	margin-left: 0px;
    	margin-top: 100px;
    	
    	border:none;
    	border-color: none;
    	
    	background-color: #93CE95;
    	
    	 button{
        
        width:70px;
      }
    	 button:hover{
        background-color: black ;
        color: white;
      }
    }
    .output tr:nth-child(odd)    { background-color:#eee; }
    .output tr:nth-child(even)   { background-color:#00FF66; }
    .error td{ background-color: red; }
    
    #finaltable{
      margin-left:900px;
    }
    
}



